{% extends 'main.html' %}
{% block content %}
{% load static %}

    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header text-black">
                  <h1>User Registration</h1>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                       <div class="col-lg-6">
                        <a type="button" class="btn btn-block" href="{% url 'client_register' %}">Je suis un client</a>
                       </div>
                       <div class="col-lg-6">
                        <a type="button" class="btn btn-block" href="{% url 'epicier_register' %}">Je suis un épicier</a>
                       </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock content %}
