{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="case1">Case 1</label>
          <input type="text" id="case1" name="case1" class="form-control">
        </div>
        <div class="form-group">
          <label for="case2">Case 2</label>
          <input type="text" id="case2" name="case2" class="form-control">
        </div>
        <div class="form-group">
          <label for="case3">Case 3</label>
          <input type="text" id="case3" name="case3" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="case4">Case 4</label>
          <input type="text" id="case4" name="case4" class="form-control">
        </div>
        <div class="form-group">
          <label for="case5">Case 5</label>
          <input type="text" id="case5" name="case5" class="form-control">
        </div>
        <div class="form-group">
          <label for="case6">Case 6</label>
          <input type="text" id="case6" name="case6" class="form-control">
        </div>
        <div class="form-group">
          <label for="case7">Case 7</label>
          <input type="text" id="case7" name="case7" class="form-control">
        </div>
      </div>
    </div>
  </div>
  
  {% endblock content %}